.cardprodvendas{
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageprodserv{
    width: 265px;
    height: 215px;
    background-color: #1E1F25;
    border-radius: 8px;
    margin-bottom: 10px ;
}

.txtprodserv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px ;
}

/* .btnprodserv button{
    width: 100%;
    height: 100%;
    background-color: #0077E4;
    color: #fff;
    border-radius: 5px;
} */

.btnprodserv button{
    width: 200px;
    height: 40px;
    background-color: #0077E4;
    color: #fff;
    border-radius:5px;
}