.produtosservicosvendas{
    width: 25vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.produtoimage{
    width:15vw;
    height:25vh;
    margin: auto;
    background: #1E1F25;
    border-radius: 5px;
}

.txtprodutoservicosvendas{
    text-align: center;
    background-color: aqua;
}

.btnprodutoservicosvendas{
    width: 100%;
    background-color: aqua;
}

.btnprodutoservicosvendas button{
    width: 20em;
    height: 1em;
}
