#DonareContainer{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;    
    background-image: url(../../../assets/img/fundoDonare.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    justify-content: center;

}
#DonareContainer h1{
    text-align: center;
    color: #FF8A00;
    font-size: 50px;
    font-weight: bold;
}
#DonareContainer h3{
    text-align: center;
}
#DonareConteudo{
    height: 50vh;
    display: flex;
    width: 90vw;
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-between;
}

#DonareDireita{
    width: 30vw;
}
#DonareDireita p{
    text-align: end;
    font-size: 23px;
}

@media (max-width: 480px){
    #DonareContainer{
        max-width: 480px;
        overflow: hidden;
        height: auto;
        background-size: 75vh;
    }
    
    #DonareConteudo{
        flex-direction: column;
        height: auto;
    }
    .LogoDonare{
        width: fit-content;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .LogoDonare img{
        width: 88%;
        margin: auto;
        margin-top: 4vh;
    }
    #DonareDireita{
        width: 90vw;
        margin: 10vh auto 5vh auto;
    }
    #DonareDireita p{
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: 25px;
        margin-top: 10vh;
    }
}