.ConfigNavAutonomo{
    width: 100vw;
    height: 25vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.introConfigAutonomo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txtConfigAutonomo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.txtConfigAutonomo img{
    width: 150px;
    height: 150px;
}

.navConfigAutonomo{
    width: 90%;
    margin: auto;
    border: 2px solid;
}

