.vendedoravaliacoes{
    width: 75vw;   
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.userscomentarios{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.overral{
    width: auto;
    height: 100vh;
}
