h4{
    width: 65vw;
    text-align: center;
    margin: 35px 0px;
}
.conexoesVendasUser{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}