.gridProdutosVendas{
    width: 90vw;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin: 20vh auto 18vh auto;
}

.txtgridProdutos{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.txtgridProdutos .underline{
    width: 130px;
    height: 25px;
    background-color: #FFC800;
    border-radius: 25px;
}

.txtgridProdutos h3{
    font-size: 40px;
    font-weight: bold;
}

.gridProdutos{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardsProdutos{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 .imageProduto{
    width: 25vw;
    /* height: 25vw; */
    margin-top: 3vh;
}

#cardProdutos{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
#cardProdutos img{
    width: 100%;
    height: 100%;
}

@media (max-width:  480px){
    .gridProdutosVendas{
       padding-left: 8vw;
       height: 150vh;
       margin-top: 10vh;
    } 
    .imageProduto{
        width: 65vw;
    }
}