.containerCadastroPessoalCliente{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../assets/img/fundoCadastroPessoal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0; */
}

.logoTopo{
    width: 10vw;
    height: 12vh;
    margin-left: 2vw;
}

.conteudoCadastroPessoalCliente h1{
    text-align: center;
    font-size: 40px;
    color: #111;
    margin-bottom: 1vh;

}

.conteudoCadastroPessoalCliente{
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
    padding-top: -8vh;
    margin: auto;
    justify-content: initial;
    flex-direction: column;
}

.conteudoCadastroPessoalCliente input{
    width: 24vw;
    height: 7vh;
    border: 1px solid #0077e4;
    border-radius: 7px;
    margin-bottom: 2vh;
    padding-left: 8px;
}

.conteudoCadastroPessoalCliente input:focus
{
    border: 1px solid #FFC800;
    outline-offset: 0px;
    outline: none;
}

#formularioCadastroPessoalCliente p{
    margin: 1vh 0;
}

#dataNascCliente{
    padding: 5%;
}
#generoLista{
    width: 24vw;
    height: 7vh;
    border: 1px solid #0077e4;
    border-radius: 7px;
}
.botoes{
    width: 25vw;
    display: flex;
    margin-top: 2vh;
}

/*  */

.botoesCadastro{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.BtnProximo {
    width: 9vw;
    height: 6vh;
    color: #fff;
    background-color: #ffc800;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnProximo :hover{
    background-color: #d5a700;
}


.BtnAnterior {
    width: 9vw;
    height: 6vh;
    color: #fff;
    background-color: #0077e4;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnAnterior :hover{
    background-color: #0084ff;
}