.ClienteSeguranca {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.FormsSeguranca {
    width: 100vw;
    height: 80vh;
    background-image: url(../../../../../assets/img/fundoseguranca.png);
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vh;
}

.FormsSeguranca input {
    border: #0077E4 solid 0.3vh;
    border-radius: 2vh;
    width: 30vw;
    height: 8vh;
}

.SalvarSenha {
    background-color: #0077E4;
    color: #fff;
    width: 11vw;
    height: 7vh;
    border-radius: 2vh;
}