.prestadores{
    position: relative;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pesquisar{
    width: 50vw;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-radius: 15px;
    background-color: #FFD024;
}
.pesquisar img{
    padding-left: 10px;
    cursor: pointer;
}
.pesquisar-input{
    width: 40vw;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}
.pesquisar-input::placeholder{
    color: #fff;
}
@media(max-width: 480px){
    .prestadores{
        width: 90vw;
        margin: auto;
    }
}