.mobile{
    position: relative;
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    gap: 100px;
}
.app{
    width: 630px;
    height: auto;
}
.textoMobile{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.textoMobile h1{
    font-size: 50px;
    text-align: center;
}
.textoMobile h5{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}

.download{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.download button{
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
}
.download button img{
    width: 40px;
    height: 40px;
}
.google{
    background-color: #0077E4;
    color: #fff;
}
.ios{
    background-color: transparent;
    border: 1px solid #0077E4;
}

.azul {
    color: #0077E4;
}

.amarelo {
    color: #FFC800;
}

.textinho {
    width: auto;
    text-align: center;
    margin-top: 30px;
}

.botao {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-right: 105px;
}


@media (max-width: 480px){
    .mobile{
        max-width: 480px;
        height: auto;
        flex-direction: column;
    }
    .app{
        width: 95vw;
        margin: auto;
        height: 65vh;
    }
    .app img{
        width: 100%;
        height: 100%;
    }
    .textoMobile{
        width: 90vw;
        margin: 0 auto;
        height: fit-content;
        margin-top: -10vh;
    }
    .textoMobile h1{
        font-size: 35px;
    }
    .textoMobile h5{
        margin: 3vh auto;
    }
    .download{
        width: 80vw;
        margin: 0 auto;
    }
}