.comentarios{
    width: 100vw;
    height: 60vh;
    display: flex;
    background-color: #FFD024;
    margin-bottom: 15vh;
}

.botoesSlide{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background: url(../../../assets/img/comentarios.svg);
    background-size: cover;
}

.slides{
    width: 50vw;
    display: flex;
    align-items: center;
}
.slides .box img{
    width: 490px;
    height: 319px;
}
.botoesSlide button{
    background-color: transparent;
}

@media (max-width: 480px){
    .comentarios{
        max-width: 480px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 10vh;
    }
    .botoesSlide{
        width: 100%;
        height: 25vh;
    }
}