.containerCadastroPessoalServico{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../assets/img/fundoCadastroPessoal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0; */
}

.logoTopo{
    width: 10vw;
    height: 12vh;
    margin-left: 2vw;
}

.conteudoCadastroPessoalServico h1{
    text-align: center;
    font-size: 40px;
    color: #111;
    margin-bottom: 1vh;

}

.conteudoCadastroPessoalServico{
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
    padding-top: 3vh;
    margin: auto;
    justify-content: initial;
    flex-direction: column;
}

.conteudoCadastroPessoalServico input{
    width: 24vw;
    height: 7vh;
    border: 1px solid #0077e4;
    border-radius: 7px;
    margin-bottom: 2vh;
    padding-left: 8px;
}

.conteudoCadastroPessoalServico input:focus
{
    border: 1px solid #FFC800;
    outline-offset: 0px;
    outline: none;
}

#formularioCadastroPessoalServico p{
    margin: 1vh 0;
}
#cnpj{
    margin: 0;
    margin-top: 1vh;
}
.semCNPJ{
    color: #208ff7;
    text-align: flex-end;
}

.termos{
    width: 24vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.termos input{
    width: 3vw;
    height: 3vh;
    background-color: #0077e4;
    margin-right: 1.5vw;
    margin-top: 0.5vw;
}
.termos p{
    font-size: 15px;
}

.botoes{
    width: 25vw;
    display: flex;
    margin-top: 2vh;
}

/*  */

.botoesCadastro{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.BtnProximo {
    width: 9vw;
    height: 6vh;
    color: #fff;
    background-color: #ffc800;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnProximo :hover{
    background-color: #d5a700;
}


.BtnAnterior {
    width: 9vw;
    height: 6vh;
    color: #fff;
    background-color: #0077e4;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BtnAnterior :hover{
    background-color: #0084ff;
}

@media (max-width: 480px){
    .containerCadastroPessoalServico{
        width: 480px;
        height: 100vh;
        background-image: url(../../../../assets/img/fundoCadastroAndroid.svg);
        background-repeat: repeat;
        background-size:100% ;
        background-position: 0.1vh 4vw;
    }
    .containerCadastroPessoalServico{
        width: 90vw;
        margin: auto;
    }
    .conteudoCadastroPessoalServico{
        width: 90vw;
        height: auto;
    }
    #formularioCadastroPessoalServico{
        width: 70vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #formularioCadastroPessoalServico input{
        width: 70vw;
        margin: auto;
    }
    #formularioCadastroPessoalServico p{
        width: fit-content;
        max-width: max-content;
    }
    .conteudoCadastroPessoalServico .botoes, .conteudoCadastroPessoalServico .botoesCadastro{
        width: 70vw;
    }
    .conteudoCadastroPessoalServico .BtnAnterior, .conteudoCadastroPessoalServico .BtnProximo{
        width: 30vw;
    }
}