.SuporteRede {
    display: flex;
    flex-direction: row;
    background-image: url(../../../assets/img/SuporteRede.svg);
}

.ClienteSuporte {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.SuporteDash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.PaginaSuporteR {
    width: 80vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.DuvidasFrequentes,
.FaleConosco {
    margin-left: 5vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4vh;
}

.DuvidasFrequentes {
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.CampoDuvidas {
    width: 40vw;
    height: 75vh;
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
}

/*CSS Perguntas Frequentes*/

.containerDuvidas {
    height: 70vh;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px;
    margin: auto 5px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .accordion_item {
    border-radius: 5px;
  }
  
  .accordion_item:hover {
    opacity: 0.9;
  }
  
  .accordion_header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .accordion_content {
    margin-left: 50px;
    margin-right: 15px;
    overflow: hidden;
    height: 0;
    transition: all .5s ease;
    font-size: 14px;
  }
  
  .active {
    padding-bottom: 10px;
  }
  
  .PerguntaD, .icon {
    color: #0077E4;
    font-weight: 600;
  }
  
  .RespostaD {
    color: #000;
    text-align: justify;
  }

/*Fim CSS Perguntas Frequentes*/

/*CSS Fale Conosco */
.FaleConosco {
    width: 30vw;
    height: 50vh;
    align-items: flex-start;
    text-align: left;
}

.FaleConosco input {
    width: 20vw;
    height: 6vh;
    border: #0077E4 solid 0.4vh;
    border-radius: 1vh;
}

.FaleConosco h3 {
    margin-left: 13vh;
}

.EnviarSuporte {
    width: 8vw;
    height: 5vh;
    background-color: #FFC800;
    color: #fff;
    border-radius: 2vh;
}