.MenuTopo{
    width: 98.5vw;
    max-width: 100vw;
    height: auto;
    color: #111;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* padding-left: 3vw; */
    /* background-color: aquamarine; */
  }

.navbar-toggler span{
  border: 0;
  height: 10vh;
  width: 10vw;
}

#topo{
    height: auto;
    max-width: 100vw;
    align-items: center;
}
.MenuTopo .logoTopo{
    width: 18vw;
    height: 18vh;
    margin: 0;
}
.MenuTopo .logoTopo img{
  width: 100%;
  height: 100%;
}
#containerTopo{
  /* background-color: cadetblue; */
  width: fit-content;
  height: auto;
}

.sobreNos{
  color: #111;
}
.text-body{
  margin: 0 2vw;
}
.text-body:hover{
  border-bottom: #0077e4 1px solid;
}

.dropdown-menu.show{
  /* background-color: #0077e4; */
  border: solid 1px #F5C100;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.dropdown-menu.show a:hover{
  background-color: transparent;
  color: black;  
  border-bottom: #0077e4 1px solid;
  width: fit-content;
}

#basic-navbar-nav{
    /* margin-bottom: 5vh; */
    /* background-color: antiquewhite; */
    font-size: 22px;
    align-items: center;    
}

#basic-nav-dropdown{
  color: #111;
}

#listaTopo{
    display: flex;
    justify-content: right;
    /* background-color: #6589aa; */
    width: 90%;
    padding-right: 4vw;
}

.BotoesTopo{
   /* background-color: #80278be7; */
   width: 25vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-right: 4vw;
}

.btnCadastrarTopo {
    text-decoration: none;
    font-size:20px;
    font-family:Arial;
    width:120px;
    height:43px;
    border-width:0px;
    color:#fff;
    border-radius: 6px;
    background:#0077e4;
  }
  
  .btnCadastrarTopo:hover {
    transition: all 1s;
    background: rgb(253, 253, 253);
    color:rgb(0, 124, 240);
    border: #0077e4 1px solid;
  }
           
  
  
.btnLoginTopo {
    text-decoration: none;
    font-size:20px;
    font-family:Arial;
    width:120px;
    height:43px;
    border-width:0px;
    color:#0077e4;
    border-radius: 6px;
    background:rgb(255, 255, 255);
    border: solid 1px blue;
  }
  
  .btnLoginTopo:hover {
    transition: all 1s;
    background: #0077e4;
    color:rgb(255, 255, 255);
    border: #0077e4 1px solid;
  }

 
 
  @media ( max-width: 480px) {

    .MenuTopo{
      max-width: 100vw;
      /* background-color: gray; */
      margin: auto;
      display: flex;
    }
    .logoTopo{
      width: 25vw;
      height: 30vh;
      margin-left: 2vw;
    }

    .BotoesTopo{
      width: fit-content;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: auto;
    }
    
    #containerTopo{
      height: auto;
      display: flex;
      justify-content: flex-end;
      border-radius: 5%;
    }
    #basic-nav-dropdown, .text-body, .sobreNos{
      width: auto;
      margin: 0;
      padding: 2vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    #basic-navbar-nav{
      width: 5vw;
      text-align: center;
      justify-content: center;
    }

    #containerTopo{
      width: 45vw;
      height: auto;
    }
    
  #listaTopo{
    /* background-color: #6589aa; */
    width: 95%;
    margin: auto;
    /* padding-right: 4vw; */
  }

  .MenuTopo .btnCadastrarTopo {
    text-decoration: none;
    font-size:20px;
    font-family:Arial;
    width:120px;
    height:43px;
    color:#dbac00;
    border-radius: 6px;
    margin: 1vh auto;
    background-color: #fff;    
    border-bottom: solid 1px #F5C100;

  }
  .MenuTopo .BotoesTopo{
    margin: auto;
  }
  .MenuTopo .btnCadastrarTopo:hover {
    transition: all 1s;
  }
           
  
  
  .MenuTopo .btnLoginTopo {
    text-decoration: none;
    font-size:20px;
    font-family:Arial;
    width:120px;
    height:43px;
    border-width:0px;
    color:#0077e4;
    border-radius: 6px;
    background:rgb(255, 255, 255);
    border-bottom: solid 1px #0077e4;
  }
  
  .MenuTopo .btnLoginTopo:hover {
    transition: all 1s;
    /* background: #0077e4;
    color:rgb(255, 255, 255);
    border: #0077e4 1px solid; */
  }

  }

